@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kanit&family=Prompt&display=swap');

/*--------------------Home--------------------*/
/*HEADER*/
body{
    background-color: #EDF5A5;
}
header {
display: flex;
flex-direction: row;
justify-content: center;
}
header div {
    background-color: #8B0B15;
    padding: 0.5em;
    width: 10em;
}
header div img {
    width: 6em;
}
header nav {
    display: flex;
    background-color: #FF9525;
    color: #8B0B15;
    width: 30em;
}
header nav h2 {
    font-size: 1em;
    align-self: center;
    padding: 1rem;
    font-family: "Prompt", sans-serif;
}
header nav ul {
    list-style-type: none;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav ul li a {
    display: block;
    line-height: 1.5rem;
    padding: 0.2em;
    text-decoration: none;
    color: #8B0B15;
    font-size: 1em;
    font-family: "Delicious Handrawn", sans-serif;
}
header nav ul li a:hover {
    background-color: #8B0B15;
    color: #FF9525;
    padding: auto;
}
header nav ul li:nth-child(1){
    font-size: 1.5em;
}

button {
    margin: 0.2rem 2vw;
    background-color: #FF9525;
    border: none;
    font-size: 2rem;
    color:#8B0B15;
    padding-left: .4em;
}
#sidebar-ico {display: none;}
#sidebar-ico.open {display: block;}

#burguer-ico span:nth-child(1){display: block;}
#burguer-ico span:nth-child(2){display: none;}

#burguer-ico.open span:nth-child(1){display: none;}
#burguer-ico.open span:nth-child(2){display: block;}
/*FOOTER*/
footer {
    display: flex;
    background-color: #8B0B15;
    flex-direction: row;
    justify-content: center;
}
footer div img {
    width: 50%;
}
footer div p {
    font-family:"Delicious Handrawn", sans-serif;
    color: #FF9525;
    font-size: .5em;
}
footer div a img {
    width: 10%;
}
/*---------------------------------------------*/

/*--------------------Fresh--------------------*/




/*--------------------About Us--------------------*/
