@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kanit&family=Prompt&display=swap');

/*--------------------Home--------------------*/
/*HEADER*/
body{
    background-color: #EDF5A5;
    color:#8B0B15;
    margin: 0;
}
header {
display: flex;
flex-direction: row;
justify-content: center;
}
header div {
    background-color: #8B0B15;
    padding: 0.5em;
    width: 8em;
}
header div img {
    width: 6em;
}
header nav {
    display: flex;
    background-color: #FF9525;
    color: #8B0B15;
    width: auto;
}
header nav h2 {
    font-size: 1em;
    align-self: center;
    padding: 1rem;
    font-family: "Prompt", sans-serif;
}
header nav ul {
    list-style-type: none;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header nav ul li a {
    display: block;
    line-height: 1.5rem;
    padding: 0.2em;
    text-decoration: none;
    color: #8B0B15;
    font-size: 1em;
    font-family: "Delicious Handrawn", sans-serif;
}
header nav ul li a:hover {
    background-color: #8B0B15;
    color: #FF9525;
    padding: auto;
}
header nav ul li:nth-child(1){
    font-size: 1.5em;
}

button {
    margin: .2rem 2vw;
    background-color: #FF9525;
    border: none;
    font-size: 2rem;
    color:#8B0B15;
    padding-left: .6em;
}
#sidebar-ico {display: none;}
#sidebar-ico.open {display: block;}

#burguer-ico span:nth-child(1){display: block;}
#burguer-ico span:nth-child(2){display: none;}

#burguer-ico.open span:nth-child(1){display: none;}
#burguer-ico.open span:nth-child(2){display: block;}
/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #8B0B15;
    justify-content: center;
    align-items: center;
    height: 11em;
}
footer div {
    padding: 1em;
}
.logo img {
    width: 100%;
}
.dir, .map, .social, figure {
margin: 0;
padding: 0;
border: 0;
}
.dir p {
    font-family:"Kanit", sans-serif;
    color: #FF9525;
    font-size: .6em;
    margin:0;
    line-height: 1.7em;
}
.social img {
    width: 20%;
    padding: .2em;
}
.map-logo img {
    width: 25%;
    position: relative;
    left: 35%;  
}
footer div a {
    text-decoration: none;
}
.map figcaption {
    font-family: "Kanit", sans-serif;
    color: #FF9525;
    font-size: 0.8em;
    position: relative;
    left: 20%;  
}
.copy {
    font-size: 0.5em;
    font-family:"Prompt", sans-serif;
    color:#FF9525;
    grid-column: 1/5;
}
/*WEATHER*/
main div {
    padding: 0.5rem;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Prompt" , sans-serif
}
.hero {
    background-image: url("images/placeholder-landscape.png");
}
.hero.visible {
    background-image: url("images/hero.jpg");
}
.hero, .juice {
    overflow: hidden;
    position: relative;
}
.hero p {
transform: translate(-50%,-50%);
position: absolute;
top: 35%;
left: 45%;
font-size: 2rem;
font-weight: bold;
color: #8B0B15;
}
.hero-pic {
    opacity: 0.5;
}
.weather{
    text-align: center;
    border: 1px solid #8B0B15;
    color: #8B0B15;
}
.desc {
    text-transform: capitalize;
}
.forecast {
	display: flex;  
	justify-content: center; 
	align-items: center;
	
}
.forecast > div{
	flex: 1;
    padding: 0.25em;
}
hr{
	height: .8px;
	width: 100%;
	background-color: #8B0B15;
}
.city-info figure img, .fruits figure img {
    position: relative;
    left: 2%;
}
.city-info figcaption, .fruits figcaption {
    padding: .5em;
}
.juice figcaption a {
    text-decoration: none;
    padding: .3rem .5rem;
    color:#FF9525;
    background-color: #8B0B15;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
}
.juice figcaption a:hover {
    background-color: #FF9525;
    color: #8B0B15;
}
/*---------------------------------------------*/

/*--------------------Fresh--------------------*/
fieldset {
    margin-top: .3rem;
    border-radius:.5rem;
}
legend {
	text-align: center; 
	font-size: 1.2rem; 
}
textarea#instructions {
	width: 90%;
}
.flavors label { 
	font-size: 16px;
}
.flavors, .contact-form {
	margin: auto;
	display: block;
	text-align: center;
	justify-content: center;
    width:300px;
}
.contact-form label.top {
    padding-bottom: 2rem;
    text-align:left;
}
#form-output {
	display: none;
}
form label.top input:required {
	border-left: solid 0.6rem #8B0B15 ;
}
form label.top input:required:valid {
	border-left: solid 0.6rem #FF9525;
}
select#fruit1, select#fruit2, select#fruit3 {
    border: 2px solid #8B0B15;
    padding: 2%;
    border-radius: 10px;
}
.submitBtn{
	width: 100px; 
	font-size: 18px; 
	margin: 15px auto 15px 30px;
}
.top input, .top textarea, label.top{
    display: block;
    font-size: 13px;
    width: 90%;
    padding: 16px;
    border-radius: 4px;
}

/*--------------------About Us--------------------*/