@media only screen and (min-width: 64rem) {
/*--------------------Home--------------------*/
header nav {
    width: 60em;
    height: 106px;
}
header div {
    height: 90px;
    width: 90px;
}
#burguer-ico {
    display: none;
}
#sidebar-ico{
    display: flex;
    align-items: center;
    padding-left: 6em;
}
header nav h2 {
    padding-left: 6em;
    font-size: 2em;
}
header nav ul li a {
    font-size: 1.5em;
    padding: 1em;
}
header div img {
    width: 95%;
    padding-left: 0.2em;
}
/*FOOTER*/
footer {
    width: 66.7em;
    height: 106px;
}
.logo img {
    width: 40%;
}
.logo{
    padding:0.4em;
}
.dir p {
    font-size:1.1em;
}
.social img {
    width: 15%;
    padding: .7em;
}
.map-logo img {
    width:10%;
}
.map figcaption {
    font-size:1.5em;
}
/*--------------------Fresh--------------------*/




/*--------------------About Us--------------------*/
}