@media only screen and (min-width: 64rem) {
/*--------------------Home--------------------*/
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
header nav {
    width: auto;
    min-height: 106px;
}
header div {
    min-height: 90px;
    min-width: 90px;
}
#burguer-ico {
    display: none;
}
#sidebar-ico{
    display: flex;
    align-items: center;
    padding-left: 6em;
}
header nav h2 {
    padding-left: 6em;
    font-size: 2em;
}
header nav ul li a {
    font-size: 1.5em;
    padding: 1em;
}
header div img {
    width: 95%;
    padding-left: 0.2em;
}
/*FOOTER*/
footer {
    width: auto;
    min-height: 280px;
}
.logo img {
    width: 40%;
}
.logo{
    padding:0.4em;
}
.dir p {
    font-size:1.1em;
}
.social img {
    width: 15%;
    padding: 1.4em;
}
.map-logo img {
    width:10%;
}
.map figcaption {
    font-size:1.5em;
    padding-left:1.8rem;
}
/*MAIN*/
main {
    grid-template-columns: repeat(3, 1fr);
}
.hero { 
    grid-column: 1/3;
    grid-row: 1/3;
}
.hero img {
    width: 80%;
    padding-left:16.5%;
}
.hero p {
    top:30%;
    left:55%;
    font-size: 4rem;
}
.weather {
    grid-column: 3/4;
    grid-row: 1/3;
    width:62.6%;
}
.city-info img,
.fruits img, .store img {
    width:100%;
}
.city-info {
    grid-column: 1/2;
    grid-row: 3/4;
}
.fruits {
    grid-column: 2/3;
    grid-row: 3/4;
}
.store {
    grid-column: 3/4;
    grid-row: 3/4;
}
.store img {
    padding-right:20%;
}
.juice {
    grid-column:1/5;
    grid-row:4/5;
}
.juice img {
    width:58%;
    padding-left:10rem;
}
.juice figcaption a {
    top:50%;
    left:47%;
    padding: .8rem;
}
/*--------------------Fresh--------------------*/
.fresh {
    display:grid;
    grid-template-columns: 1fr;
    text-align:center;
}
.contact-form, .choose, #form-output {
    width:60%;
}
.choose {
    position:relative;
    left:18.5%;
}
#form-output {
    position:relative;
    left:19%;
}
/*--------------------About Us--------------------*/
.about {
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.list{
    list-style: none;
}

}