@media only screen and (min-width: 37.5rem) {
/*--------------------Home--------------------*/
header nav {
    width: 40em;
}
#burguer-ico{
    padding-left: 6.5em;
    font-size: 2.5em;
}
#sidebar-ico{
    align-items: center;
    padding-left: 1em;
}
header nav h2 {
    padding-left: 3em;
    font-size: 1.5em;
}
header nav ul li a {
    font-size: 1.5em;
    padding: .4em;
}
header div img {
    width: 105%;
}
/*FOOTER*/
footer {
    height: 12em;
}
.logo img {
    width: 90%;
}
.logo{
    padding:0.5em;
}
.dir p {
    font-size:1.1em;
}
.social img {
    width: 20%;
    padding: .7em;
}
.map-logo img {
    width:20%;
}
.map figcaption {
    font-size:1.5em;
}
/*--------------------Fresh--------------------*/




/*--------------------About Us--------------------*/
}