/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border:none;
    font-size: 2rem;
    color:#FFFFFF;
}
header, nav, footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #115B9C;
    color:#ffffff;
    font-family:'Lato', sans-serif;
}
header{
    flex-direction:column;
}
.page-logo img{
    max-height: 10rem;
    max-width: 10rem;
    padding: 1rem;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:0;
    margin:0;
}
nav ul li a {
    display:block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color:#FFFFFF;
    border-top:1px solid rgba(0,0,0,0.5); 
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {display:none;}
nav ul.open{display:block;}
#hamburgerBtn span:nth-child(1){display:block;}
#hamburgerBtn span:nth-child(2){display:none;}

#hamburgerBtn.open span:nth-child(1){display:none;}
#hamburgerBtn.open span:nth-child(2){display:block;}
.date {
	font-size: 1.2rem;
	font-family: 'Nunito', serif;
	color: #FFFFFF;
    text-align: center;
    margin-top: 1em;
    font-size: 1em;
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #115B9C;
}
main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}
section{
    background-color: #C2D7E6;
    height: 20em;
    width: 100v;
    margin:0.5rem;
}
.spot{
    display:flex;
    flex-direction:column;
    
}






