@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kanit&family=Prompt&display=swap');


/*home page*/
/*phone view*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: sans-serif, Helvetica;
}

header,
footer {
    background-color: #8B0B15;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

header,
main,
footer {
    max-width: 780px;
    margin: 0 auto;
}

nav {
    background-color: #FF9525;
    margin: 0 auto;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.9);
}

.logo {
    width:50%;

}

nav ul {
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: #8B0B15;
    text-align: center;
    padding: 0.8em;
    text-decoration: none;
    font-size: 1em;
}

nav ul li:hover a {
    width: 15em;
    margin: auto auto;
    color: #FF9525;
    background-color:#8B0B15;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

main article {
    max-width:21em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main article h2 {
    margin-bottom: 10px;
    text-align: center;
}

main picture {
    padding: 10px;
    grid-column: 1/2;
    text-align: center;
}

main picture img {
    width: 50%;
    height: auto;
}

footer p {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#FF9525;
}
.sitemap img {
    padding-left:2.1em;
    width:90%
}
main article:nth-child(1) {
    grid-column: 1/2;
}
/* target Audience*/

.personas_grid {
    display: grid;
    grid-template-columns: auto auto;
}

.personas_grid ul {
    list-style-type: none;
    text-align: left;
    padding-right: -0.5em;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.personas_grid ul li {
    border: 1px solid black;
    padding: 1em;
    display: flex;
    align-items: center;
}

main article:last-child ul {
    text-align: left;
}

main article:last-child ul li {
    margin: 0.7em;
}

main article:last-child ul p {
    margin-left: 2em;
}

/* Design*/

section h2 {
    text-align: center;
    margin: 1em;
}

.container_box {
    display: block;
    text-align: center;
}

.boxes {
    margin: 1em 0;
}

.boxes h3 {
    border: 1px solid black;
    width: 100px;
    height: 70px;
    margin: auto auto;
}

.boxes:first-child h3 {
    background-color: #8B0B15;
    color:white;
    top:50%;
}

.boxes:nth-child(2) h3 {
    color: white;
    background-color: #FF9525;
}

.boxes:nth-child(3) h3 {
    color: black;
    background-color: #EDF5A5;
}

.boxes:last-child h3 {
    background-color: #040404;
    color:white;
}

section span,
section p {
    text-align: center;
}
.tab-grid {
    padding:3rem;
}
th{
    border-style:outset;
    width:10rem;
    height:5rem;
    color:#040404;
    font-family:'Prompt', sans-serif;
}
.color1 {
    background-color:#FF9525;
    font-family:'Delicious Handrawn', sans-serif;
    font-size:1.6em;
    color:#8B0B15
}
.color2 {
    background-color:#8B0B15;
    font-family:'Kanit', sans-serif;
    font-size:1.3em;
    color:#FF9525
}
.color3 {
    background-color:#EDF5A5;
    color:#8B0B15;
    font-family:'Delicious Handrawn', sans-serif;
    font-size:1.2em;
}
.color4 {
    background-color:#EDF5A5;
}
.large {
    grid-row:1/2;
}
.mediun {
    grid-row:3/4;
}
.base {
    grid-row:5/6;
}
.l {
    grid-row:2/3;
}
.m {
    grid-row:4/5;
}
.b {
    grid-row:6/7;
}