html{
    background-color:azure;
    display:grid;
}
main {
    margin: 1em;
    align-content: center;
    grid-column:1fr;
}
iframe {
    width:600px;
    height:340px;
}
header {
    margin: 2em;
    border-radius: 0.6em;
    background-color:#115b9c;
}
footer{
    background-color:#115b9C;
    border-radius:0.6em;
}
header, footer {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:blanchedalmond;
    padding:1em;
    text-align: center;
}
.video{
text-align: center;
}