    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {line-height: 1em; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *::before, *::after{
    box-sizing: inherit;
}

nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border:none;
    font-size: 2rem;
    color:#FFFFFF;
}
header, nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #115B9C;
    color:#ffffff;
    font-family:'Lato', sans-serif;
}
header{
    flex-direction:column;
}
#down {
    height:29rem;
    background-color: #115B9C;
    color:#ffffff;
    font-family:'Lato', sans-serif;
}
.page-logo img, .logo-foot img, .location img{
    max-height: 10rem;
    max-width: 10rem;
    padding: 0rem;
}
.contact-info {
    padding-left: 2rem;
    grid-column: 1/3;
}
.location {
    grid-column:2/3;
    margin-left:0.5rem;
}
.logo-foot {
    grid-column:1/2;
    grid-row:2/3;
    margin-left:1rem;
}
.project {
    grid-column: 1/3;
    padding-left:2rem;
    line-height:1.8rem;
}
.all{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.social{
    grid-column:1/3;
}
.social img {
    padding-left: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:0;
    margin:0;
}
nav ul li a {
    display:block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color:#FFFFFF;
    border-top:1px solid rgba(0,0,0,0.5); 
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {display:none;}
nav ul.open{display:block;}
#hamburgerBtn span:nth-child(1){display:block;}
#hamburgerBtn span:nth-child(2){display:none;}

#hamburgerBtn.open span:nth-child(1){display:none;}
#hamburgerBtn.open span:nth-child(2){display:block;}
.date {
	font-size: 1.2rem;
	font-family: 'Nunito', serif;
	color: #FFFFFF;
    text-align: center;
    margin-top: 1em;
    font-size: 1em;
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #115B9C;
}
#main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}
#main section figure.wdd230 {
    min-width:50%;
    margin: 0 0 0 2%;
    float:none;
}
#main section figure.wdd230 img {
    width:80%;
}
figure h3 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:0.8em;
    color:#C2D7E6;
    font-family: "Lato", Helvetica, sans-serif;
    font-size:1em;
    border-radius:5%;
    font-weight: bold;
    line-height: 2rem;
    background-color:#115B9C;
}
section{
    background-color: #C2D7E6;
    height: 20em;
    width: 100%;
    font-family:"Nunito", Verdana, sans-serif;
    color:#115B9C;
    font-weight: bold;
}
/*-----------Weather---------------------------*/
.weather {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(3, 1fr); 
}
.winds, .chill {
    grid-column:2/3;
    grid-row:3/4;
    text-align-last: center;
}
.clime {
    grid-column:2/3 ;
    font-weight: bold;
}
.temp {
    font-size: 2em;
}
.weather figcaption {
    text-transform:capitalize;
}
.weather h3 {
    grid-column:1/3;
    grid-row:1/2;

}
.weatherlogo{
    width:80%;
    margin: auto;
    grid-column:1/2;
    grid-row:1/4;
}
.weatherlogo img{
    width:85%;
}
/*------Join us-----------*/
.join h3 a{
    background-color:#115B9C;
    color:#C2D7E6;
    text-decoration: none;
    padding:1.5rem;
    padding-left: 3rem;
    padding-right:3rem;
    border-radius: 0.5rem;
    
}
.join h3{
    display: grid;
    text-align: center;
    justify-content: center;
    transform: translate(1%, 150%);
}
.join h3 a:hover {
    background-color: #C2D7E6;
    color:#115B9C;
    border:solid #115B9C;
}
/*-------spot-------*/
.spot{
    display:flex;
    flex-direction:column;
    height: 100%;
}
.spot div{
    width:100%;
    height: 33em;
    border:1px solid #115B9C;
}   

.event, .hero, .news, .spot, .join, .weather{
    font-family:"Nunito", Verdana,Tahoma, sans-serif;
    color:#115B9C;
    text-align: center;
}
.event{
    display:grid;
    font-size:1em;
    line-height: 2em;
    place-content: center;
}

/*------------------------Discover site-----------------------------*/

#index{
    background:#C2D7E6;
}
#discover{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
}
#discover div picture#hero-img img {
    min-width: 60vw;
    max-width: 95vw;
}
#discover div picture#hero-img {
    margin:0%;
    padding:0%;
}
/*Text in hero picture*/
#hero {
    position:relative;
    display:inline-block;
}
.legend{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:2em;
    color:#C2D7E6;
    font-family: "Lato", Helvetica, sans-serif;
    font-size:1.2em;
    border-radius:5%;
    font-weight: bold;
}
.intro{
    text-align: center;
    font-family:"Nunito", Verdana,Tahoma, sans-serif;
    font-size:1.2em;
    color:#115B9C;
    line-height:1.2em;
    font-weight: bold;
}
.intro h4{
    color:rgba(0, 0, 255, 0.719)
}
picture img[data-src] {
    filter: blur(0.5em);
}
picture img {
    filter: blur(0em);
    transition: filter 1.5s;
    max-width: 80%;
}
#loading{
    color:#115B9C;
    font-family:"Nunito", Verdana,Tahoma, sans-serif;
    font-weight: bold;
}
/*---------------------------------------JOIN---------------------------*/
#join-us{
    display:flex;
    flex-flow:column;
    text-align: left;
    align-self: center;
    justify-self: center;
    margin:2em;
}
.init {
    color: #115B9C;
    width: 60%;
    line-height: normal;
}
.free h2{
    color: navy;
}
.bronze h2{
    color:rgb(199, 163, 2);
    -webkit-text-stroke:0.5px #0B3954;
}
.silver h2{
    color:silver;
    -webkit-text-stroke:0.5px #0B3954;
}
.gold h2 {
    color:gold;
    -webkit-text-stroke:0.5px #0B3954;
}
form label.top input, form label.top select{
    display:block;
    font-size:1rem;
    border:solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color:#555;
    width:100%;
    max-width: 20rem;
}
form legend{
    color:#115B9C;
    margin:0 1rem;
    padding: 0 .5rem
}
form fieldset {
    margin: 2rem 0;
    border:1px 1px solid #115b9c;
    border-radius: 10px;
    padding:.5rem 2%;
}
form label input{
    display:block;
    padding-top: 1rem;
    color:#292929;
    font-size:1.2rem;
    width:100%;
    max-width: 20rem;
    padding: .5rem;
}
form fieldset select {
    line-height: 1rem;
}
form label.top input:required{
    border:red solid 2px; 
}
form label.top input:required:valid{
    border: green solid 2px;
}
/*-------------------------------------Directory-------------------------------------*/
.dir-main {
    text-align: center;
    margin: 2em auto;
}

.menu {
    background:#C2D7E6;
    background-color: #C2D7E6;
    padding: 10px;
    margin: 5px 10px;
}

.gallery{
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
    margin: 10px;
}

.table-dir {
    display: block;
}

table {
    border-collapse:collapse;
    margin: 10px;
}

tbody tr:nth-child(even){
    background-color: #C2D7E6;
}

tr {
    height: 60px;
}

td {
    padding: 5px;
}

td a {
    text-decoration: none;
    font-weight: bold;
    color: #0B3954;
    text-overflow: ellipsis;
}

td a:hover {
    color: #115B9C;
    transition: 0.5s;
}

td {
    font-size: 0.6rem;
}

td:first-child{
    width: 20%;
}

td:nth-child(2){
    width: 35%;
}

td:nth-child(3){
    width: 15%;
}

td:nth-child(4){
    width: 30%;
}

.dir-sect {
    display: block;
    grid-column: auto;
}

.display-btns button {
    border: none;
    border-radius: 12px;
    padding: 5px 15px;
    margin: 5px;
}
