@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Open+Sans&display=swap');
body {
    max-width: 800px;
    margin: 0 auto;
    background-color:#F5EFFF;
    font-family: 'Lato', sans-serif;
}
.content{
    width:50%;
    margin: 0 auto;
    background-color: #dcd6f7;
    border-radius: .8em;
    box-shadow: 0 10px 10px rgba(172,172,172);
}
header,footer{
    background-color: rgb(51, 119, 170);
    box-shadow:0 10px 10px rgb(172,172,172);
    color: #f4eeff;
    border-radius: .8em;
    margin: 0;
    text-align: center;
    padding: .5em;
    font-family:'Open Sans', sans-serif;
}

#name{
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 150px auto;
}
.Iam{
    float: left;
    max-width: 6em;
    box-shadow: 0 3px 3px rgb(172,172,172);
}

header h1{
    margin:0;
}

main{
    margin:0;
    padding: 1em;
}
.course{
    font-family:'nunito';
    text-shadow: black 0.1em 0.1em 0.2em;
}
main h2{
    border-bottom: 2px solid #424874;
}

footer a{
    color: #f4eeff;
}

footer p:last-of-type{
    color: rgb(234, 240, 59);
    font-weight: 700;
}