header,footer, nav{
    background-color: #115B9C;
    box-shadow: 0 10px 10px #acacac;
    color: #ffffff;
    border-radius: .8em;
    margin: 0;
    text-align: center;
    padding: .5em;
    font-family:'Lato', sans-serif;
    display: flex;
    flex-flow:column;
    text-decoration: none;
    list-style: none;
}
.page-logo img{
    width:20vw;
    justify-self:left;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th {
    background-color: #C2D7E6;
}
.colors td{
    width: 25%;
    height: 5em;
}
.primary {
    background-color: #115B9C;
    color:#ffffff;
}
.secondary {
    background-color: #719DC4;
    font-weight:bold;
}
.accent1 {
    background-color: #9ABAD5;
    font-weight: bold;
}
.accent2{
    background-color: #C2D7E6;
    font-weight: bold;
}
.accent3{
    background:#ffffff;
}