@media screen and (min-width: 1em){

    header,footer{
        background-color: #115B9C;
        box-shadow: 0 10px 10px #acacac;
        color: #ffffff;
        border-radius: .8em;
        margin: 0;
        text-align: center;
        padding: .5em;
        font-family:'Lato', sans-serif;
        
    }
    .page-logo img{
        justify-self: left;
        max-height: 8em;
        max-width: 8em;
    }
    .page-header{
        text-align: center;
        text-overflow: inherit;
        display:flex;
        flex-flow: column;
    }
    nav ul {
        background-color: #115B9C;
        box-shadow: 0 10px 10px #acacac;
        border-radius: .8em;
        display: flex;
        flex-flow:column;
        list-style: none;
        margin: 15px 0;
        padding: 1em;
        font-size: 1.25rem;
    }
    ul {
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    nav ul a {
        color:#ffffff;
        text-decoration: none;
    }
    nav ul a:hover {
        background-color: #9ABAD5;
        color:#000000;
        padding:1em;
    }
main{
    color:#115B9C;
    font-family:'Nunito', sans-serif;
    background-color:#C2D7E6;
}
    .page-logo img{
        width:20vw;
        justify-self:left;
    }
    .colors {
        width: 100%;
        min-width: 350px;
        margin: 30px auto;
        text-align: center;
    }
    .colors th {
        background-color: #C2D7E6;
    }
    .colors td{
        width: 25%;
        height: 5em;
    }
    .primary {
        background-color: #115B9C;
        color:#ffffff;
    }
    .secondary {
        background-color: #719DC4;
        font-weight:bold;
    }
    .accent1 {
        background-color: #9ABAD5;
        font-weight: bold;
    }
    .accent2{
        background-color: #C2D7E6;
        font-weight: bold;
    }
    .accent3{
        background:#ffffff;
    }
}